header
  div.content-wrapper
      //- div.float-left
      //-     p.site-title
      //-       img(href="images/1.jpg")
      //-       a(href="/") your logo here
      div.float-right
          nav
            ul#menu
                li#home Home
                li#cal Schedule
                  
