
doctype html
html
  head
    div#header 
      img(src="http://static.tvmaze.com/uploads/images/original_untouched/0/1.jpg")
    link(rel="stylesheet" type="text/css" href="/css/app.css")
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include template.jade
    
      
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")  
    script(src="/js/app.js") 
  
       
  
  
     
