header
  div.content-wrapper
      //- div.float-left
      //-     p.site-title
      //-       img(href="images/1.jpg")
      //-       a(href="/") your logo here
      div.float-right
          nav
            ul#menu
                li
                  a(href="/index.html") Home
                li
                  a(href="/views/movieScheduler2.html") Schedule
